<% flash.each do |type, msg| %>
  <div class='alert <%= type == 'error' ? 'alert-danger' : 'alert-success'%> alert-messages'>
    <div class='container-fluid text-center'>
      <%= msg %>
    </div>
  </div>
<% end %>