<div class="container">
	<%= render "usersForm" %>
	<div class="row">
	    <div class="col-md-4 col-md-offset-4">
	      <%= button_to "/auth/facebook", class:"btn btn-block btn-f" do %><i class="fa fa-facebook-official"></i>&nbsp&nbsp Connect with Facebook<% end %>
	    </div>
	</div>
</div>