// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:800);

a {
  color: #4cb0bb !important;
  text-decoration: none; 
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.pagination > .active > a {
  background-color: #4cb0bb;
  border-color: #4cb0bb;
  color: white !important;
}

// a tag hover effect
a:hover,
a:focus {
  color: #4aa0aa;
  outline: 0;
  text-decoration: none; 
}
// end of hover effect

body {
  height: 100%;
  background-color: #EDEFED;
  margin-top: 50px
}

/* Styling for header images on landing page and city pages */
.header-img {
  width:100%;
  max-height: 100%;
  margin-bottom: 30px;
}

/* Styling for logo on the landing page */
.logo {
  font-family:"Julius Sans One";
  color:#fff;
  font-weight:normal;
  font-size:36pt;
  padding:25px;
  padding-top: 100px;
  text-align:center;
}

h1 {
  font-family: "Julius Sans One";
  font-weight: bold;
  font-size: 25pt;
  text-align: center;
}

.julius-font {
  color: #ff5050;
}

/* Styling for hover effect on landing page */
.gallery-item {
  height: auto;
  position: relative;
}

.gallery-item:hover .img-title {
  background: rgba(255,255,255, 0.5); 
}

.img-title {
  position: absolute;
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  display: none;
  background-color: #333;
}

.img-title h5 {
  position: absolute;
  color: #fff;
  top: 33%;
  width: 100%;
  text-align: center;
}

/* Styling for Facebook login/signup button */
.btn-f {
  background-color: #3B5998;
  color: white !important;
}

.fa {
  font-size: 120% !important;
}

.btn-blue {
  background-color: #4cb0bb;
  border-color: #4cb0bb;
  color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

.btn-blue:hover {
  background-color: #4aa0aa !important;
  border-color: #4aa0aa;
  color: white;
}

/* Add styling to the cards */
.well {
  margin-top: 30px;
  margin-bottom: 0;
}

.siteLogoNav{
  font-size: 150%;
}
.fa-globe-nav{
  color: #4cb0bb;
}

.header-overflow{ 
  position: relative; 
  width: 100%;
}

.title { 
  font-family: "Julius Sans One";
  position: absolute; 
  top: 30%; 
  left: 0; 
  width: 100%; 
  font-size: 70px;
  color: white;
}
@media screen and (max-width: 800px) {
  .title { 
    top: 25%; 
    font-size: 30px;
  }
}

.extra-padding {
  padding: 5%;
}

.small {
  color: #7a7d84;
}

.index-img {
  margin: 30px 0px;
}

.alert {
  margin-top: -50px;
}

.noPostP{
  color: #4cb0bb;
  font-size: 20px;
}

//btn hover smooth transition
.btn-info.button-effect {
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s; 
}
.btn-info.button-effect:hover {
  background-color: #2ea8da; 
}
h3 .username-margin {
  margin-top: 50px;
}